@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-VariableFont_wdth,wght.ttf');
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', 'arial', sans-serif;
  margin: 0;
}

:root {
  --nav-bar-min-height: 72px;
  --nav-bar-min-height-mobile: 62px;

  --background-color-dark: #1b1b1e;
  --background-color-light: #dde1e8;

  --text-color-dark: #a9bcd0;
  --text-color-light: #373f51;

  --title-color-dark: #58a4b0;
  --title-color-light: #1f6370;

  --title-color-complementary-dark: #c97a6e;
  --title-color-complementary-light: #8b3d32;

  --card-background-dark: #2a2a2e;
  --card-background-light: #eef0f5;

  --neutral-color: #7c7e83;
}
