<section id="experience" class="dark-section">
  <div class="column content">
    <div class="text-section" scrollAnimate>
      <h2 class="responsive-title section-title-dark">My Work Experience</h2>
      <p class="responsive-text section-text-dark">
        Some of the learning experiences that have contributed to my development.
      </p>
    </div>
    <p-carousel
      scrollAnimate [animateDelay]="150"
      class="personalized-carousel"
      [value]="experiences"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      autoplayInterval="5000"
    >
      <ng-template pTemplate="item" let-experience>
        <div class="card dark-card">
          <div class="card-content">
            <div class="card-header">
              <div>
                <div class="card-title">{{ experience.role }}</div>
                <div class="card-subtitle">{{ experience.company }}</div>
              </div>
              <span class="card-year">{{ experience.year }}</span>
            </div>
            <div class="card-text">
              <ul>
                @for (desc of experience.description; track desc) {
                  <li>{{ desc }}</li>
                }
              </ul>
            </div>
            <div class="tags">
              @for (tag of experience.tags; track tag) {
                <span class="tag">{{ tag }}</span>
              }
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>
