.margin {
  margin-bottom: 1.5rem;
}

/* Contenedor de ubicación */
.location-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

/* Ícono de ubicación */
.location-icon {
  font-size: 1.2rem;
}

.location-link {
  color: inherit;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.avatar-image {
  max-width: 250px;
  width: 100%;
  border-radius: 50%;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.avatar-image:hover {
  transform: scale(1.1);
  border: 2px solid var(--title-color-dark);
}

/* ===== TABLET (768px - 1023px) ===== */
@media (min-width: 768px) and (max-width: 1023px) {
  .avatar-image {
    max-width: 270px;
  }
}

/* 1. LAPTOP PEQUEÑA (1024px - 1279px) */
/* Laptops de 13"-15", 1366x768 o 1920x1080 */
@media (min-width: 1024px) and (max-width: 1279px) {
  .avatar-image {
    max-width: 320px;
  }
}

/* 2. DESKTOP 24" (1280px - 1535px) */
/* Monitores 24" Full HD (1920x1080) o 2K (2560x1440) */
@media (min-width: 1280px) and (max-width: 1535px) {
  .avatar-image {
    max-width: 300px;
  }
}

/* 3. WIDESCREEN 27"+ (1536px en adelante) */
/* Monitores 27" 2K (2560x1440) o 4K (3840x2160) */
@media (min-width: 1536px) {
  .avatar-image {
    max-width: 450px;
  }
}
